# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.cache
/.parcel-cache
/node_modules


# testing
/coverage

# production
/dist

# misc
.DS_Store
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
