{{> head title="Главная" }}
Главная
<nav>
    <ul>
<!--        <li>-->
<!--            <a href="/pages/SignIn/signin.hbs">Регистрация</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/pages/Login/login.hbs">Авторизация</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/pages/Profile/Profile.hbs">Профиль</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/pages/Error/error.hbs">404</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/pages/ErrorServer/errorServer.hbs">500</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/pages/Chat/Chat.hbs">Чат</a>-->
<!--        </li>-->
    </ul>
</nav>
{{> footer }}