@use "src/styles/variables";
@import "pages/Login/login";
@import "pages/Error/error";
@import "pages/Profile/profile";
@import "pages/Chat/chat.scss";

@import "src/components/DialogInfo/dialogInfo";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Verdana", serif;
  font-size: 14px;
}

h1 {
  font-size: 20px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

input {
  padding: 5px;
}

.wrapper {
  min-height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-bold {
  font-weight: 600;
}

.color-red {
  color: variables.$color-red;
}

.input-error {
  font-size: 12px;
  position: absolute;
  bottom: 4px;
}