{{> head }}
Главная
<ul>
    <li>
        <a href="/pages/signin/signin.hbs">Регистрация</a>
    </li>
    <li>
        <a href="/pages/login/login.hbs">Авторизация</a>
    </li>
    <li>
        <a href="/pages/profile/profile.hbs">Профиль</a>
    </li>
    <li>
        <a href="/pages/404/404.hbs">404</a>
    </li>
    <li>
        <a href="/pages/500/500.hbs">500</a>
    </li>
    <li>
        <a href="/pages/chat/chat.hbs">Чат</a>
    </li>
</ul>
{{> footer }}