{{> head title="Авторизация" }}
<div class="wrapper flex-center">
    <div class="form-wrapper">
        <form class="form">
            <h1>Вход</h1>

            {{> field title="Логин" name="login" }}
            {{> field title="Пароль" name="password" type="password" }}

            {{> button text="Вход" }}

            <p class="form__help">
                <a href="/pages/signin/signin.hbs">Регистрация</a>
            </p>
        </form>
    </div>
</div>
{{> footer }}