<div class="wrapper">
    <h1>Главная</h1>
    <br/>
    <nav>
        <ul>
            <li>
                <a href="/signin">Регистрация</a>
            </li>
            <li>
                <a href="/login">Авторизация</a>
            </li>
            <li>
                <a href="/profile">Профиль</a>
            </li>
            <li>
                <a href="/settings">Настройки профиля</a>
            </li>
            <li>
                <a href="/404">Ошибка 404</a>
            </li>
            <li>
                <a href="/500">Ошибка 500</a>
            </li>
            <li>
                <a href="/chat">Выберите чат</a>
            </li>
            <li>
                <a href="/chatSelected">Чат</a>
            </li>
        </ul>
    </nav>

</div>
