{{> head title="Изенить профиль" }}
<div class="wrapper flex-center">
    <div class="form-wrapper">
        <form class="form">
            <h1>Изменить профиль</h1>

            {{> field title="Почта" type="text" value="pochta@yandex.ru"}}
            {{> field title="Логин" type="text" value="Ivi"}}
            {{> field title="Имя" type="text" value="Ivan"}}
            {{> field title="Фамилия" type="text" value="Ivanov"}}
            {{> field title="Имя в чате" type="text" value="Ivan1"}}
            {{> field title="Телефон" type="tel" value="+7 (909) 967 30 30"}}

            {{> button text="Сохранить" }}
        </form>
    </div>
</div>
{{> footer }}