{{> head title="Сменить пароль" }}
<div class="wrapper flex-center">
    <div class="form-wrapper">
        <form class="form">
            <h1>Сменить пароль</h1>

            {{> field title="Старый пароль" name="oldPassword" type="password" }}
            {{> field title="Новый пароль" name="newPassword" type="password" }}
            {{> field title="Повторите новый пароль" name="newPasswordValid" type="password" }}

            {{> button text="Сохранить" }}
        </form>
    </div>
</div>
{{> footer }}