<div class="wrapper">
    <h1>{{title}}</h1>
    <br/>
    <nav>
        <ul>
            <li>
                <a href="/signin">Регистрация1</a>
            </li>
            <li>
                <a href="/login">Авторизация</a>
            </li>
            <li>
                <a href="/profile.html">Профиль</a>
            </li>
            <li>
                <a href="/error404">Ошибка 404</a>
            </li>
            <li>
                <a href="/error500">Ошибка 500</a>
            </li>
            <li>
                <a href="/chat">Выберите чат</a>
            </li>
            <li>
                <a href="/chatSelected">Чат</a>
            </li>
        </ul>
    </nav>

</div>
