<div class="wrapper">
    <h1>{{title}}</h1>
    <br/>
    <nav>
        <ul>
            <li>
                <a href="/index.html?page=signin">Регистрация</a>
            </li>
            <li>
                <a href="/index.html?page=login">Авторизация</a>
            </li>
            <li>
                <a href="/index.html?page=profile">Профиль</a>
            </li>
            <li>
                <a href="/index.html?page=error404">Ошибка 404</a>
            </li>
            <li>
                <a href="/index.html?page=error500">Ошибка 500</a>
            </li>
            <li>
                <a href="/index.html?page=chat">Выберите чат</a>
            </li>
            <li>
                <a href="/index.html?page=chatSelected">Чат</a>
            </li>
        </ul>
    </nav>

</div>
